@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Sora", sans-serif;
    font-style: normal;
}

img {
    width: 100%;
}

p,
h1,
h2,
h3,
a {
    line-height: 1.6;
    letter-spacing: 1px;
}

h2 {
    text-align: center;
}

.container {
    width: 85%;
    margin: 0 auto;
    padding: 5px;
}

.container-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 65%;
    margin: auto;
}

.container-text {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.container-text h2 {
    color: #00a7b5 !important;
}

.check-list {
    width: 50%;
    margin: 0 auto;
}

.check-list ul li {
    background: url(/images/icon_arrow.png) no-repeat left 2px;
    line-height: 22px;
    padding: 0 0 34px 34px;
}

header {
    width: 65%;
    margin: auto;
}

header .menu-icon {
    display: none;
}

header ul {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
}

header li {
    display: inline-block;
}

header a {
    text-decoration: none;
    color: #333;
    padding: 4px 8px;
    border-radius: 5px;
}

header a:hover {
    background-color: #00a7b5;
    color: #fff;
}

.order-btn1 a {
    background-color: #00a7b5;
    color: #fff;
    padding: 8px 15px;
}

.order-btn1 a:hover {
    background-color: #015860;
}

.logo {
    width: 10%;
}

.logo li {
    margin: 20px;
}

/* Hero */

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    background-color: #f5f5f5;
    padding: 20px;
}

.hero div img {
    border-radius: 30% 10% 40% 10% / 74% 61% 50% 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    width: 70%;
    margin: auto;
    display: block;
}

.hero div img:hover {
    transform: scale(1.2);
}

.hero-content {
    padding: 20px;
}

.hero-content p {
    text-align: center;
    margin-top: 50px;
}

.ingr {
    text-align: left;
    margin-top: 40px;
    color: #166683;
}

.ingr-title {
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
}

.ingr-title p:last-child {
    text-align: right;
    font-weight: 800;
}

.ingr-text {
    display: none;
}

.ingr-title {
    border-bottom: 1px #166683 solid;
}

.ingr-title p {
    font-size: 14px;
    margin: 0;
    padding: 15px 0;
}

/* Swiper */

.container-swiper {
    width: 70%;
    margin: auto;
}

.swiper {
    margin-top: 27px;
    margin-bottom: 20px;
}

.swiper-slide img {
    width: 20%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    border-radius: 50%;
}

.swiper-slide {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.swiper-slide p {
    padding: 10px;
}

#testimonials .swiper-wrapper {
    height: auto !important;
}

.heatbelt-img {
    width: 72%;
    margin: auto;
}


.order-btn2 {
    list-style-type: none;
}

.order-btn2 a {

    border-radius: 5px;
    background-color: #ed6f86;
    color: #fff;
    padding: 8px 15px;
}

.order-btn2 a:hover {
    background-color: #612c35;
}

.about {
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about-cont {
    background-color: #2d435b;
    color: #fff;
    width: 30%;
    padding: 40px;
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.about-img {
    margin-right: 30%;
}

/* info */

.info-container {
    position: relative;
    background-image: url('/images/Industrial-Aesthetic.webp');
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
}

.info-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.41);
    z-index: 1;
}

.info-box {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow:
        -2px -2px 0px black,
        2px -2px 0px black,
        -2px 2px 0px black,
        2px 2px 0px black;
    position: relative;
    z-index: 2;
}

#right-box {
    margin-left: 47%;
}

.info-box h2 {
    margin-top: 0;
}

.faq {
    background-color: #fff;
    margin: 0 auto;
    width: 85%;
    cursor: pointer;
    margin-bottom: 10px;
}

.faq h3 {
    margin: 0;
    padding: 15px;
    border: 1px solid rgb(162, 162, 162);
}

.faq h3:hover {
    background-color: #00a7b5;
    color: #fff;
}

.answer {
    display: none;
    border: 1px solid rgb(162, 162, 162);
    margin: 0;
    background-color: #f1f1f1;
    padding: 15px;
}

.based {
    text-align: center;
    margin: 10px 0 20px;
    color: #888;
    font-size: 12px;
}

.testimonials-reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.testimonials-reviews span {
    margin: 10px;
    font-size: 12px;
}

.testimonials-reviews img {
    width: 18%;
}

/* Order form */

div.forma {
    margin: 8vh auto;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.forma div.img-order {
    width: 90%;
    margin: auto;
}

form h1 {
    text-align: center;
}

div.forma form {
    margin: auto;
}

div.forma form div.pole {
    margin: 1.7vh;
    text-align: center;
}

div.forma form div.pole input {
    padding: 10px 20px;
    border: 1px solid black;
}

div.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2.all-h2 {
    text-align: center;
}

.price .order-btn a {
    font-size: 18px;
    padding: 12px 50px;

}

.order-btn a {
    font-size: 22px;
    font-weight: 800;
    color: white;
    padding: 15px 60px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    background: linear-gradient(to right, #00a7b5, #cef4f8);
}

/* footer */
footer div.links {
    text-align: center;
    margin: 15px;
}

footer a {
    margin: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
}

footer p {
    text-align: center;
}

footer p.disclaimer {
    width: 70%;
    margin: 10px auto;
    letter-spacing: 0;
    line-height: 1;
    font-size: 14px;
}


@media screen and (max-width: 1400px) {
    .container {
        width: 95%;
    }

    header {
        width: 95%;
    }
}

@media screen and (max-width: 1200px) {

    div.forma {
        margin: 40px auto;
        width: 80%;
    }

    .order-btn a {
        font-size: 18px;
        color: white;
        padding: 13px 50px;
    }

    .container-content {
        width: 100%;
    }

    .about-cont {
        left: 81%;
    }

    .hero {
        display: block;
    }

}

@media screen and (max-width: 994px) {
    div.forma form div.pole input {
        padding: 7px 12px;
    }

    div.forma div.img-order,
    .container-swiper {
        width: 100%;
        margin: auto;
    }

    .hero-content img {
        width: 35%;
    }

    .ingredient-img {
        height: unset;
    }

    p {
        line-height: 1.1;
        letter-spacing: 0.6px;
    }

    .price .order-btn a {
        font-size: 16px;
        padding: 10px 34px;
    }

    .about-cont {
        width: 35%;
        padding: 14px;
    }

    .hero div img {
        width: 40%;
    }

    header,
    header ul {
        background-color: #fff;
    }
}

@media screen and (max-width: 768px) {

    header .menu-icon {
        margin-left: 20px;
        font-size: 24px;
        line-height: 40px;
        display: block;
    }

    .logo {
        width: 20%;
    }

    header ul {
        padding: 10px;
        list-style: none;
        margin: 0;
    }

    header li {
        display: block;
        margin: 12px 0;
    }

    .menu {
        display: none;
    }

    .menu.active {
        display: block;
    }

    .swiper-slide p {
        margin: 20px;
    }

    .swiper-slide img {
        display: block;
        margin: 0 auto;
    }

    .testimonials-reviews img {
        width: 32%;
    }

    .order-btn1 {
        margin-top: 10px;
        margin-left: 0;
    }

    div.forma {
        display: block;
    }

    div.forma div.img-order {
        width: 75%;
        margin: auto;
    }

    div.forma {
        margin-top: 7px;
    }

    .price {
        display: grid;
        justify-content: center;
    }
}

@media screen and (max-width: 425px) {

    .about-cont {
        width: 50%;
        padding: 11px;
        left: 73%;
    }

    .about-cont h2 {
        font-size: 14px;
        letter-spacing: 0;
    }

    .about-cont p {
        font-size: 12px;
        letter-spacing: 0;
    }

    .info-box {
        width: 70%;
    }

    #right-box {
        margin-left: 20%;
    }

    .hero div img {
        width: 80%;
    }

    .container,
    .order-form,
    footer p.disclaimer,
    .review_content p {
        width: 95%;
    }

    .container-content,
    .order {
        display: block;
    }

    .logo {
        width: 20%;
    }

    .swiper-slide p {
        margin: 0px;
    }

    .swiper-slide img {
        display: block;
        margin: 0 auto;
    }

    .img-order {
        width: 100%;
        margin-top: 50px;
    }

    div.forma div.img-order {
        width: 94%;
        margin: auto;
    }

    footer div.links {
        display: flex;
        flex-direction: column;
    }

    footer a {
        margin: 5px 0;
    }

    .testimonials-reviews img {
        width: 27%;
    }

    div.forma {
        margin: 40px auto;
        width: 90%;
    }
}